
<%= bootstrap_form_with(model: [@company_branch, employee], local: true ) do |form| %>
  <div class="field">
    <%= form.text_field :name, placeholder:"John Doe..." %>
  </div>
  <div class="field">
    <%= form.text_field :email, placeholder:"email@gmail.com" %>
  </div>
  <div class="field">
    <%= form.text_field :position, placeholder:"Position" %>
  </div>
   <div class="field mt-4">
    <%= form.label employee.state %>
  </div>
  <div class="actions d-flex justify-content-center mt-4">
    <%= form.submit "Save" , class: 'btn btn-primary' %>
  </div>
<% end %>
