<%= render partial: "layouts/navbar"%>
<div class="col-lg-10">
  <h3 class="text-center my-3">Employees</h3>
  <div class="table-responsive">
    <table class="table table-hover table-sm">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Position</th>
          <th scope="col">Private number</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @employees.each do |employee| %>
          <tr>
            <td><%= employee.employee_number %></td>
            <td><%= employee.name %></td>
            <td><%= employee.email %></td>
            <td><%= employee.position %></td>
            <td><%= employee.private_number %></td>
            <td><%= link_to 'Show', company_branch_employee_path(@company_branch, employee),
            class: "btn btn-outline-secondary" %>
            </td>
            <td><%= link_to 'Edit', edit_company_branch_employee_path(@company_branch, employee),
            class: "btn btn-outline-primary" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>
  <div class="d-flex justify-content-between col-lg-12">
    <%= link_to 'â† Back', company_branches_path, class:"btn btn-dark text-white"%>
    <%= link_to 'New Employee', new_company_branch_employee_path(@company_branch), class:"btn btn-primary" %>
  </div>
</div>
