<h1>New branch</h1>

<%= form_with model: @company_branch, url:  company_branch_path, local: true do |form| %>
  <div class="mb-3">
    <%= form.label :name%>
    <%= form.text_field :name, class: "form-control"%>
  </div>
  <div class="mb-3">
    <%= form.label :address%>
    <%= form.text_field :address, class: "form-control"%>
  </div>
  <div class="mb-3">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
