<%= render partial: "layouts/navbar"%>
<div class="col-lg-10">
  <%= render partial: "layouts/navtabs"%>
  <div class="table-responsive">
    <table class="table table-hover table-sm">
      <thead class="table-dark">
        <tr>
          <%- @results&.first.keys.each do |header| %>
          <th scope="col"><%= header %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @results.each do |hash| %>
          <tr>
            <%- hash.values.each do |value| %>
              <td scope="row"><%=value%> </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-12 mb-4 mx-4">
    <%= link_to ' â† Back company branches', company_branches_path, class:"btn btn-dark text-white" %>
  </div>
</div>
