<!DOCTYPE html>
<html>
  <head>
    <title>Reloj</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="pt-5 vh-100">
    <%= yield :navbar %>
    <div class="row d-flex justify-content-center vh-100 pt-5">
      <div class="col-lg-12 d-flex justify-content-center align-items-center">
        <div class="col-lg-5">
          <%= render 'layouts/messages' %>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
